canvas {
  position: absolute;
  top: 0;
  left: 0;
}

p {
  margin: 0 0;
  position: absolute;
  font: 16px Verdana;
  color: #eee;
  height: 25px;
  top: calc(100vh - 30px);
  text-shadow: 0 0 2px white;
}

p a {
  text-decoration: none;
  color: #aaa;
}

span {
  font-size: 11px;
}

p>a:first-of-type {
  font-size: 20px;
}

body {
  overflow: hidden;
}

footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #111111;
  color: #fff;
  justify-content: space-around;
}

footer a {
  color: #fff;
  text-decoration: none;
}
footer i{
  font-size: 20px;
}